html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
html,
body{
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
}
.container{
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #000000;
    span{
        color: #FD665E;
    }
}
.header__title{
    font-size: 112px;
    line-height: 100%;
    max-width: 760px;
    width: 100%;
    margin-bottom: 50px;
}
.header__top{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.menu__list{
    display: flex;
    li + li{
        margin-left: 40px;
    }
    a{
        font-size: 14px;
        line-height: 40px;
        color: #585858;
    }
}
.header__btn{
    a{
        color: #585858;
        font-size: 14px;
        line-height: 40px;
    }
    a + a{
        margin-left: 40px;
    }
}
.search__btn{
    img{
        width: 14px;
        height: 14px;
    }
}
a.register__btn{
    padding: 5px 25px;
    background-color: #FD665E;
    border-radius: 4px;
    font-style: italic;
    color: #fff;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &-text{
        max-width: 320px;
        width: 100%;
        line-height: 160%;
        color: #000;
        margin-bottom: 25px;
    }
    &-btn{
        background: #FD665E;
        border-radius: 4px;
        padding: 10px 30px;
        text-align: center;
        a{
            color: #fff;
            font-style: italic;
            font-size: 14px;
            line-height: 40px;
        }
    }
    &-images{
        img{
            width: 765px;
            height: 480px;
        }
    }
}
.slider__title{
    max-width: 670px;
    width: 100%;
    margin-bottom: 50px;
}
.slick-arrow{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: -75px;
    padding: 17px;
    background-color: rgba($color: #000000, $alpha: .03);
    z-index: 5;
    svg{
        path{
            fill:#FD665E;
        }
    }
}
.slick-arrow.slick-disabled{
    cursor: default;
    background-color: transparent;
    svg{
        path{
            fill: #473534;
        }
    }
}
.slick-next {
	right: 300px;
}

.slick-prev {
	right: 350px;
}
.slider__inner{
    margin-bottom: 120px;
}
.about__title{
    max-width: 540px;
    width: 100%;
    margin-bottom: 50px;
}
.about__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.about__inner-items{
    max-width: 470px;
    width: 100%;
}
.about__item{
    display: flex;
    & + &{
        margin-top: 25px;
    }
    &-icons{
        img{
            width: 40px;
        }
    }
    &-info{
        margin-left: 40px;
        color: #000;
    }
    &-text{
        max-width: 305px;
        width: 100%;
        line-height: 160%;
    }
    &-title{
        font-weight: bold;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 10px;
    }
}
.about__btn{
    margin-top: 75px;
    text-align: center;
    a{
        padding: 10px 55px;
        background-color: #FD665E;
        border-radius: 4px;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
        font-style: italic;
    }
}
.reviews{
    padding-top: 70px;
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
    .slick-arrow{
        bottom: -15px;
        top: auto;
        z-index: 10;
    }
    .slick-next {
        right: 0px;
    }
    
    .slick-prev {
        right: 50px;
    }
}
.reviews__items{
    margin-bottom: 120px;
}
.reviews__title{
    max-width: 490px;
    width: 100%;
    margin-bottom: 20px;
}
.reviews__item{
    display: flex !important;
    justify-content: flex-end;
    &-info{
        position: relative;
        padding-left: 110px;
        &::before{
            content: "";
            position: absolute;
            background-image: url('../images/icons/reviews-icon.svg');
            background-repeat: no-repeat;
            width: 58px;
            height: 45px;
            left: 0;
        }
    }
    &-text{
        max-width: 765px;
        width: 100%;
        font-size: 32px;
        line-height: 160%;
        margin-bottom: 10px;
    }
    &-name{
        max-width: 420px;
        width: 100%;
        font-weight: bold;
        line-height: 160%;
    }
}
.reviews__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.reviews__info-title{
    max-width: 565px;
    width: 100%;
    margin-bottom: 70px;
}
.reviews__btn{
    a{
        padding: 10px 55px;
        background-color: #FD665E;
        border-radius: 4px;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
        font-style: italic;
    }
}
.partners{
    padding-top: 70px;
    margin-bottom: 120px;
}
.partners__title{
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
}
.partners__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners__item{
    img{
        opacity: 0.3;
        cursor: pointer;
        transition: all .3s;
    }
    &:hover{
        img{
            opacity: 1;
        }
    }
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    .menu__list{
        li + li{
            margin-left: 50px;
        }
        a{
            font-style: italic;
        }
    }
}
@media(max-width:1350px){
    .slider__item{
        img{
            width: 350px;
        }
    }
}
@media(max-width:1130px){
    .header__inner-images{
        img{
            width: 500px;
            height: auto;
        }
    }
    .header__top{
        .menu__list{
            display: none;
            background-color: rgba($color: #FD665E, $alpha: .92);
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            z-index: 5;
            text-align: center;
            a{
                display: block;
                align-items: center;
                justify-content: center;
                color: #fff;
                padding: 20px 0;
            }
            li{
                display: block;
                & + li{
                    margin-left: 0;
                    border-top: 1px solid #fff;
                }
            }
        }
        .menu__btn{
            display: block;
            width: 30px;
            cursor: pointer;
                div{
                    background-color: #FD665E;
                    height: 3px;
                & + div{
                    margin-top: 5px;
                }
            }
        }
    }
    .slider__item{
        img{
            width: 300px;
        }
    }
    .slider{
        .slick-prev{
            right: 50px;
        }
        .slick-next{
            right: 0;
        }
    }
}
@media(max-width:1050px){
    .about__inner{
        flex-wrap: wrap;
    }
    .about__inner-items{
        max-width: 100%;
    }
    .about__inner-images{
        margin-bottom: 30px;
    }
    .about__item-text{
        max-width: 100%;
    }
    .about__btn{
        text-align: left;
    }
    .reviews__inner{
        flex-wrap: wrap;
    }
    .reviews__images{
        margin-bottom: 30px;
    }
    
}
@media(max-width:980px){
    .slider__item{
        img{
            width: 400px;
        }
    }
    .partners__items{
        flex-wrap: wrap;
    }
    .partners__item{
        width: 33%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer__menu{
        .menu__list{
            display: block;
        }
    }
    .footer__inner .menu__list li+li {
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media(max-width:860px){
    .header__title.title{
        font-size: 65px;
    }
    .header__inner{
        flex-wrap: wrap-reverse;
        margin-bottom: 70px;
    }
    .slider__inner {
        margin-bottom: 70px;
    }
    .reviews__items{
        margin-bottom: 70px;
    }
    .reviews__inner{
        margin-bottom: 30px;
    }
    .partners{
        padding-top: 40px;
        margin-bottom: 70px;
    }
    .footer__inner{
        margin-bottom: 60px;
    }
    .header__inner-images{
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }
    .header__inner-text{
        max-width: 100%;
        padding-right: 10px;
    }
    .header__inner-btn{
        display: inline-block;
    }
    .slider__item{
        img{
            width: 350px;
        }
    }
    .reviews__item-text{
        max-width: 100%;
    }
}
@media(max-width:750px){
    .slider__item{
        img{
            width: 300px;
        }
    }
    .title{
        font-size: 36px;
    }
    .slider__title{
        max-width: 260px;
    }
}
@media(max-width:650px){
    .slider__item{
        img{
            width: 100%;
        }
    }
    .about__inner-images{
        img{
            width: 450px;
        }
    }
    .reviews__item-name{
        max-width: 300px;
    }
    .reviews__item-info{
        padding-left: 0;
        &::before{
            display: none;
        }
    }
    .reviews__item-text{
        font-size: 25px;
    }
    .reviews__images{
        img{
            width: 400px;
        }
    }
    .partners__item{
        width: 50%;
    }
}

@media(max-width:525px){
    .register__btn{
        display: none;
    }
    .about__item{
        flex-direction: column;
    }
    .about__item-icons{
        text-align: center;
        margin-bottom: 15px;
    }
    .about__item-info{
        margin-left: 0;
    }
    .about__inner-images{
        img{
            width: 350px;
        }
    }
    .reviews__images{
        img{
            width: 350px;
        }
    }
}
@media(max-width:425px){
    .partners__item{
        width: 100%;
    }
}
@media(max-width:380px){
    .about__inner-images{
        img{
            width: 300px;
        }
    }
    .about__btn{
        a{
            padding: 10px 35px;
        }
    }
    .reviews__images{
        img{
            width: 300px;
        }
    }
    .reviews__btn a {
        padding: 10px 35px;
    }
}